$colors: (
        'primary': #007bff,
        'secondary': #6c757d,
        'success': #28a745,
        'danger': #dc3545,
        'warning': #ffc107,
        'info': #17a2b8
);

$white: #ffffff;

$shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
$shadowHover: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
$timingFunction: cubic-bezier(.4,0,.2,1);

%loader-shared {
  border-radius: 50%;
  animation-fill-mode: both;
  animation: btn-loader 1.5s infinite ease-in-out;
}

.button {
  $this: &;

  display: inline-flex;
  flex: 0 0 auto;
  font-weight: 500;
  letter-spacing: .1em;
  justify-content: center;
  align-items: center;
  outline: 0;
  position: relative;
  text-decoration: none;
  text-indent: .1em;
  text-transform: uppercase;
  transition-duration: all .28s $timingFunction;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: $shadow;
  border: none;
  color: #000;
  height: 2.25rem;
  min-width: 4rem;
  max-width: 20rem;
  padding: 0 1rem;
  font-size: .875rem;

  &__loader {
    @extend %loader-shared;
    color: currentcolor;
    animation-delay: -0.16s;
    left: 50%;
    top: calc(50% - 1em);
    width: 1em;
    height: 1em;
    position: absolute;
    transform: translate3D(-50%, -50%, 0);


    &:before, &:after {
      @extend %loader-shared;

      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: inherit;
      height: inherit;

    }

    &:before {
      right: 100%;
      animation-delay: -0.32s;
    }

    &:after {
      left: 100%;
    }
  }
  &__text {
      opacity: 1;
      transition: .2s ease-in-out;
  }

  &--loading {
      pointer-events: none;

      #{$this} {
          &__loader {
              opacity: 1;
          }
          &__text {
              opacity: 0;
          }
      }
  }


  &--sm {
      height: 1.75rem;
      min-width: 3.125rem;
      padding: 0 .75rem;
      font-size: .75rem;
  }

  &--lg {
      height: 2.75rem;
      min-width: 4.875rem;
      padding: 0 1.25rem;
  }

  &--xl {
    height: 3.25rem;
    min-width: 5.75rem;
    padding: 0 1.5rem;
    font-size: 1rem;
  }

  &--outlined {
      border: thin solid currentColor;
      background-color: transparent;
  }

  @each $name, $color in $colors {
    &--#{$name} {
      border-color: $color;

      color: $color;

      &:not(.button--outlined) {
        color: $white;
        background-color: $color;
      }

      &:disabled,
      &[disabled] {
        background-color: rgba($color, .6);
        box-shadow: .1rem .15rem .125rem rgba(0,0,0, .1);
        cursor: not-allowed;
      }

      &:hover:not(:disabled),
      &:hover:not([disabled]) {
          background-color: rgba($color, .075);

          &:not(.button--outlined) {
            background-color: darken($color, 5);
          }
      }
    }
  }

  &:hover:not(:disabled),
  &:hover:not([disabled]) {
      box-shadow: $shadowHover;
  }
}

@keyframes btn-loader {
  0%,
  80%,
  100% {
    box-shadow: 0 1em 0 -1em;
  }
  40% {
    box-shadow: 0 1em 0 -.2em;
  }
}