@import 'functions';
@import 'transition-mixin';


$primary: #2c3e50;
$grey: #ABB2BF;
$border-radius-root: 4px !default;

$body-font-family: 'Roboto', sans-serif !default;
$heading-font-family: $body-font-family !default;

$headings: () !default;
$headings: map-deep-merge((
    'h1': (
      'size': 6rem,
      'weight': 300,
      'line-height': 6rem,
      'letter-spacing': -.015625em,
      'font-family': $heading-font-family,
      'text-transform': false
    ),
    'h2': (
      'size': 3.75rem,
      'weight': 300,
      'line-height': 3.75rem,
      'letter-spacing': -.0083333333em,
      'font-family': $heading-font-family,
      'text-transform': false
    ),
    'h3': (
      'size': 3rem,
      'weight': 400,
      'line-height': 3.125rem,
      'letter-spacing': normal,
      'font-family': $heading-font-family,
      'text-transform': false
    ),
    'h4': (
      'size': 2.125rem,
      'weight': 400,
      'line-height': 2.5rem,
      'letter-spacing': .0073529412em,
      'font-family': $heading-font-family,
      'text-transform': false
    ),
    'h5': (
      'size': 1.5rem,
      'weight': 400,
      'line-height': 2rem,
      'letter-spacing': normal,
      'font-family': $heading-font-family,
      'text-transform': false
    ),
    'h6': (
      'size': 1.25rem,
      'weight': 500,
      'line-height': 2rem,
      'letter-spacing': .0125em,
      'font-family': $heading-font-family,
      'text-transform': false
    ),
    'subtitle-1': (
      'size': 1rem,
      'weight': normal,
      'line-height': 1.75rem,
      'letter-spacing': .009375em,
      'font-family': $body-font-family,
      'text-transform': false
    ),
    'subtitle-2': (
      'size': .875rem,
      'weight': 500,
      'line-height': 1.375rem,
      'letter-spacing': .0071428571em,
      'font-family': $body-font-family,
      'text-transform': false
    ),
    'body-1': (
      'size': 1rem,
      'weight': 400,
      'line-height': 1.5rem,
      'letter-spacing': .03125em,
      'font-family': $body-font-family,
      'text-transform': false
    ),
    'body-2': (
      'size': .875rem,
      'weight': 400,
      'line-height': 1.25rem,
      'letter-spacing': .0178571429em,
      'font-family': $body-font-family,
      'text-transform': false
    ),
    'button': (
      'size': .875rem,
      'weight': 500,
      'line-height': 2.25rem,
      'letter-spacing': .0892857143em,
      'font-family': $body-font-family,
      'text-transform': uppercase
    ),
    'caption': (
      'size': .75rem,
      'weight': 400,
      'line-height': 1.25rem,
      'letter-spacing': .0333333333em,
      'font-family': $body-font-family,
      'text-transform': false
    ),
    'overline': (
      'size': .75rem,
      'weight': 500,
      'line-height': 2rem,
      'letter-spacing': .1666666667em,
      'font-family': $body-font-family,
      'text-transform': uppercase
    )
  ), $headings);

$modal-border-radius: $border-radius-root !default;
$modal-card-subtitle-padding: 0 24px 20px !default;
$modal-card-actions-padding: 8px 16px !default;
$modal-card-text-padding: 0 24px 20px !default;
$modal-card-title-font-size: map-deep-get($headings, 'h6', 'size') !default;
$modal-card-title-font-weight: map-deep-get($headings, 'h6', 'weight') !default;
$modal-card-title-letter-spacing: map-deep-get($headings, 'h6', 'letter-spacing') !default;
$modal-card-title-padding: 16px 24px 10px !default;
$modal-elevation: 24 !default;
$modal-margin: 24px !default;
$modal-max-height: 90% !default;

@mixin transition-default() {
  &-enter-active,
  &-leave-active {
    transition: $primary-transition !important;
  }

  &-move {
    transition: transform .6s;
  }
}

.modal-transition {
  &-enter, &-leave-to {
    transform: scale(0.5);
    opacity: 0;
  }

  &-enter-to, &-leave {
    opacity: 1;
  }
}

.modal-bottom-transition {
  &-enter, &-leave-to {
    transform: translateY(100%);
  }
}

.modal-top-transition {
  &-enter, &-leave-to {
    transform: translateY(-100%);
  }
}

// Generic transitions
.expand-transition {
  @include transition-default();
}

.expand-x-transition {
  @include transition-default();
}

.scale-transition {
  @include transition-default();

  &-enter, &-leave, &-leave-to {
    opacity: 0;
    transform: scale(0);
  }
}

.scale-rotate-transition {
  @include transition-default();

  &-enter, &-leave, &-leave-to {
    opacity: 0;
    transform: scale(0) rotate(-45deg);
  }
}

.scale-rotate-reverse-transition {
  @include transition-default();

  &-enter, &-leave, &-leave-to {
    opacity: 0;
    transform: scale(0) rotate(45deg);
  }
}

.message-transition {
  @include transition-default();

  &-enter, &-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }

  &-leave, &-leave-active {
    position: absolute;
  }
}

.slide-y-transition {
  @include transition-default();

  &-enter, &-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }
}

.slide-y-reverse-transition {
  @include transition-default();

  &-enter, &-leave-to {
    opacity: 0;
    transform: translateY(15px);
  }
}

.scroll-y-transition {
  @include transition-default();

  &-enter, &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: translateY(-15px);
  }

  &-leave-to {
    transform: translateY(15px);
  }
}

.scroll-y-reverse-transition {
  @include transition-default();

  &-enter, &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: translateY(15px);
  }

  &-leave-to {
    transform: translateY(-15px);
  }
}

.scroll-x-transition {
  @include transition-default();

  &-enter, &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: translateX(-15px);
  }

  &-leave-to {
    transform: translateX(15px);
  }
}

.scroll-x-reverse-transition {
  @include transition-default();

  &-enter, &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: translateX(15px);
  }

  &-leave-to {
    transform: translateX(-15px);
  }
}

.slide-x-transition {
  @include transition-default();

  &-enter, &-leave-to {
    opacity: 0;
    transform: translateX(-15px);
  }
}

.slide-x-reverse-transition {
  @include transition-default();

  &-enter, &-leave-to {
    opacity: 0;
    transform: translateX(15px);
  }
}

.fade-transition {
  @include transition-default();

  &-enter, &-leave-to {
    opacity: 0 !important;
  }
}

.fab-transition {
  @include transition-default();

  &-enter, &-leave-to {
    transform: scale(0) rotate(-45deg);
  }
}

.v-modal {
  display: flex;
  flex-direction: column;
  border-radius: $modal-border-radius;
  margin: $modal-margin;
  overflow-y: auto;
  pointer-events: auto;
  transition: all .3s map-get($transition, 'fast-in-fast-out');
  width: 100%;
  z-index: inherit;
  background-color: #fff;
  box-shadow: 2px 7px 12px rgba(44, 62, 80, .15);
  position: relative;

  &__close-btn {
      display: flex;
      position: absolute;
      height: .875rem;
      width: .875rem;
      border: none;
      background-color: transparent;
      padding: 0;
      top: 2rem;
      right: 2rem;
      cursor: pointer;

      &:before, &:after {
          content: '';
          position: absolute;
          width: 1.125rem;
          height: .125rem;
          background-color: $grey;
          transition: .2s ease-in-out;
      }

      &:before {
          transform: rotateZ(45deg);
      }

      &:after {
          transform: rotateZ(-45deg);
      }

      &:hover {
          &:after,
          &:before {
              background-color: lighten($primary, 15);
          }
      }
  }

  &__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: .2s map-get($transition, 'fast-in-fast-out'), z-index 1ms;
    width: 100%;
    z-index: 6;
    outline: none;
  }

  &__container {
    display: none;

    &--attached {
      display: inline
    }
  }

  &--animated {
    animation-duration: .15s;
    animation-name: animate-modal;
    animation-timing-function: map-get($transition, 'fast-in-fast-out');
  }

  &--fullscreen {
    border-radius: 0;
    margin: 0;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;

    & > .v-card {
      min-height: 100%;
      min-width: 100%;
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  &--scrollable,
  &--scrollable > form {
    display: flex;

    & > .v-card {
      display: flex;
      flex: 1 1 100%;
      flex-direction: column;
      max-height: 100%;
      max-width: 100%;

      &__titile,
      &__actions {
        flex: 0 0 auto;
      }

      &__text {
        backface-visibility: hidden;
        flex: 1 1 auto;
        overflow-y: auto;
      }
    }
  }



  &:not(.v-modal--fullscreen) {
    max-height: $modal-max-height
  }

  & > .v-card {
    &__title {
      font-size: $modal-card-title-font-size;
      font-weight: $modal-card-title-font-weight;
      letter-spacing: $modal-card-title-letter-spacing;
      padding: $modal-card-title-padding;
    }

    &__text {
      padding: $modal-card-text-padding
    }

    &__subtitle {
      padding: $modal-card-subtitle-padding
    }

    &__actions {
      padding: $modal-card-actions-padding
    }
  }
}

@keyframes animate-modal {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.03)
  }

  100% {
    transform: scale(1)
  }
}