<template>
  <div id="app">
    <div class="container">
      <div class="img-wrapper">
        <img alt="Vue logo" src="./assets/logo.png" class="img-wrapper__img">
      </div>
      <l-btn @click="modalA = true" class="btn--main" size="md" primary>Open Modal</l-btn>
    </div>

    <v-modal v-model="modalA" width="720" height="400">
      <div class="modal">
        <p>test modal</p>

        <l-btn class="modal__btn" size="md"  @click="modalB = true" success>Open Modal</l-btn>
      </div>
    </v-modal>
    <v-modal v-model="modalB" width="640" height="480">
      <div class="modal">
        <p>test modal B</p>

        <l-btn class="modal__btn" size="md" @click="modalC = true" warning>Open Modal</l-btn>
      </div>
    </v-modal>
    <v-modal v-model="modalC" width="480" height="320">
      <div class="modal">
        <p>test modal C</p>
        <l-btn class="modal__btn" :loading="loading" size="md" @click="loading = !loading" warning>Open Modal</l-btn>
      </div>
    </v-modal>
  </div>
</template>

<script>
import LBtn from '@/components/common/l-btn';

export default {
  name: 'App',
  components: {
    LBtn
  },
  data () {
    return {
      modalA: false,
      modalB: false,
      modalC: false,
      loading: false,
    }
  },
}
</script>

<style lang="scss">
$primary: #2c3e50;

* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $primary;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.btn {
  &--main {
      margin: 1rem auto;
      width: 100%;
      max-width: 20rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  justify-content: center;
  flex-grow: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  transition: .3s ease-in-out;
  border-radius: .25rem;
  border: 1px solid rgba(255,255,255, 1);
  height: 100%;

  &__btn {
    margin: 2rem 0;
  }
}

.img-wrapper {
  align-items: center;
  margin-bottom: 3rem;
  &__img {
     width: 100%;
     max-width: 20rem;
   }
}
</style>
